.ftco-section {
    padding: 2.7em 0;
}
.heading-section {
    font-size: 26px;
    color: #000;
}
.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    padding: 35px 25px 35px;
}
.login-wrap .icon {
    width: 85px;
    height: 85px;
    background: #5FB512;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
}
.login-wrap .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-wrap h3 {
    font-weight: 700;
    font-size: 20px;
    color: #5FB512;
}
.form-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}
.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.w-50 {
    width: 50% !important;
}
.checkbox-primary {
    color: #5FB512;
}
.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}
.checkbox-primary input:checked ~ .checkmark:after {
    color: #5FB512;
}
.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.text-md-right {
    text-align: right !important;
}
 a {
     color: #9295A3;
}
.ftco-section a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #5FB512;
}
.form-group .submit {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}
.btn.btn-primary {
    background: #5FB512 !important;
    border: 1px solid #5FB512 !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 18px;
}
.pl-5, .px-5 {
    padding-left: 3rem !important;
}
.pr-5, .px-5 {
    padding-right: 3rem !important;
}
.blockImgLogin{
    background: url("../img/img1.jpg") center center;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}
.rowModife {
    margin: 0;
    align-items: center;
}
.rowModife .colModife {
    padding: 0;
}
.rowModife .login-wrap {
    box-shadow: none;
    padding: 40px 100px;
}
.content-dashboard {
    background: #F1F1F1;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.theme-side-menu {
    min-width: 250px;
    display: flex;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #FFFFFF;
    padding: 0 30px;
    box-shadow: 0 5px 5px rgba(0,0,0,.25),0 1px 2px rgba(0,0,0,.22)!important;
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
}
.theme-element-dashboard {
    width: 100%;
    padding: 25px;
    margin-left: 250px;
}
.w-100 .content-logo {
    width: 75px;
    height: 75px;
    margin: 25px auto 20px;
}
.w-100 .content-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.w-100{
    width: 100%;
}
.content-dashboard .theme-side-menu ul {
    list-style: none;
    padding-left: 0;
}
.content-dashboard .theme-side-menu ul  li{
    margin-bottom: 15px;
}
.content-dashboard .theme-side-menu ul  li img{
    width: 22px;
    margin-right: 7px;
}
.content-dashboard .theme-side-menu ul  li a{
    color: #9295A3 !important;
    font-weight: 500;
}
.content-dashboard .theme-side-menu ul .active a{
    color: #5FB512 !important;
    font-weight: 600;
    font-size: 17px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #1f2d3d;
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
    padding: 0.5rem 0.5rem;
    margin: -25px -25px 0;
}
.navbar-nav {
    flex-direction: unset;
}
.navbar-nav .nav-link{
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-nav .nav-link .fa-bars{
    font-size: 19px;
    margin-top: 3px;
}
#dropdownUser{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
#dropdownNotification i{
    color: black !important;
}
.notification .dropdown-toggle::after{
   display: none !important;
}
.userProfil {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}
.userProfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#dropdownNotification img{
    width: 34px;
}
.navbar-nav {
    align-items: center;
}
#dropdownNotification {
    margin-right: 7px;
}
#dropdownUser span{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
#dropdownUser::after{
    color: black;
    margin: 0 5px;
}
.card-learning-home {
    background: #5FB512;
    border: 2px solid #5FB512;
    box-shadow: 0px 15px 30px rgb(241 224 224 / 20%);
    border-radius: 20px;
    color: white;
    display: flex;
    padding: 15px;
}
.block-img-card-home {
    background: white;
    padding: 10px 10px;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    text-align: center;
    overflow: hidden;
}
.block-img-card-home img{
    width: 95%;
    object-fit: contain;
    height: 95%;
    margin-top: -3px;
}
.number {
    color: #040404;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}
.rowModife2 {
    margin-bottom: 30px;
}
.rowModife2 .col-md-3,.col-md-6,.col-md-5,.col-md-4,.col-md-7{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.card-name-text{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
h1{
    font-size: 24px;
    line-height: 29px;
    color: #040404;
    margin-bottom: 25px;
}
.content-dashboard-home {
    padding-top: 20px;
}
.card-element{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 15px 30px rgb(241 224 224 / 20%);
    border-radius: 30px;
    padding: 20px 20px 15px;
    height: 100%;
}
.head-card-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.title-head-card-element {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #040404;
    margin-bottom: 0;
}
.head-card-element .form-select {
    border: none;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    color: #040404;
}
.content-parcours{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    align-items: center;
}
.content-parcours .group-one{
    display: flex;
    align-items: center;
}
.content-parcours .group-one .title{
    font-size: 16.5px;
    margin-bottom: 2px;
    color: #040404;
}
.content-parcours .group-one .number{
    font-weight: 700;
    font-size: 16px;
    color: #9295A3;
}
.content-parcours .prix-vente-block .price{
    font-size: 16px;
    margin-bottom: 2px;
    color: #5FB512;
}
.content-parcours .prix-vente-block .number-ventes{
    font-size: 16px;
    color: #9295A3;
}
.group-one img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.img-user-transcation{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px;
}
.img-user-transcation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dot-block{
    width: 20px;
}
.dot-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-content-card-element{
    display: flex;
    justify-content: space-between;
}
.footer-content-card-element .legend{
    display: flex;
}
.footer-content-card-element .legend .circle{
    width: 7px;
    height: 7px;
    margin-right: 7px;
}
.footer-content-card-element .legend .legend-pays{
    font-weight: 500;
    font-size: 12px;
    color: #9295A3;
}
.footer-content-card-element .legend .legend-pays span{
    color: #040404;
}
.card-elemnt .content-map{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 20px;
}
.card-elemnt .content-map img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}
.title-formation{
    width: 36%;
}
.title-apprenants {
    width: 20%;
    text-align: center;
}
.title-commission {
    width: 24%%;
    text-align: center;
}
.th-button {
    width: 9%;
    text-align: center;
}
.confiance-block-td:before{
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    border-radius: 100%;
    background: linear-gradient(45deg, #0072FF 14.64%, #00DEB0 85.36%);
    top: 9px;
    position: relative;
    margin-right: 6px;
}
.management-block-td:before{
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    border-radius: 100%;
    background: linear-gradient(45deg, #F5A623 14.64%, #FC8E8E 85.36%);
    top: 9px;
    position: relative;
    margin-right: 6px;
}
.somme-table{
    line-height: 22px;
    color: #5FB512;
    text-align: center;
}

.btn-delete {
    background: #5FB512;
    box-shadow: 0px 8px 20px rgb(77 197 145 / 30%);
    border-radius: 4px;
    width: 100%;
    color: #FFFFFF;
    font-weight: 500;
    margin: 20px 0;
}
 .table-parcours{
    width: 98%;
}
.btn-parcours-formation {
    background: #5FB512;
    box-shadow: 0px 8px 20px rgb(77 197 145 / 30%);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 15px;
    width: fit-content;
    margin-bottom: 35px;
}
.content-mes-parcours{
    padding-top: 30px;
}
h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.content-add-parcours {
    padding-top: 30px;
}
.content-form {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
}
.content-add-parcours .content-form .form-group {
    position: relative;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
}

.content-add-parcours .content-form  .form-group label{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 12px 4px;
    color: #9295A3;
}

.content {
    background: #FDFDFD;
    font-family: 'Open Sans', sans-serif;
}
